body {
	background-color: #ACE092; 
	color: #161616; 
	font-family: "Helvetica Neue", Arial, sans-serif; 
}

h2 {
	font-size: 18px;
}

fieldset {
	font-size: 12px;
	border: 1px solid #781351;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 15px;
	margin-right: 15px;
}

input {
	border-radius: 3px;
	border-width: 0px;
}

#controls {
	float: left;
}

#drawArea {
	border-radius: 3px 3px 3px 3px; 
	background-color: #F3FAEE; 
	border: 1px solid #000; 
	margin: 0 0 0 0; 
	width: 310px; 
	position: absolute; 
	top: 60px; 
	left: 220px;
}