body {
	background-color: #ACE092; 
	color: #161616; 
	font-family: "Helvetica Neue", Arial, sans-serif; 
}

h2 {
	font-size: 18px;
}

fieldset {
	font-size: 12px;
	border: 1px solid #781351;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 15px;
	margin-right: 15px;
}

input {
	border-radius: 3px;
}

#controls {
	float: left;
}